    p {
        color: grey;
        margin-left: 20px;
    }

    a, h1{
        margin-left: 20px;
        color: #B4DFE5;
    }

    h3 {
        color: #FBE8A6;
    }

    body {
        background-color: #D2FDFF;
    }

    .container-fluid{
        background-color: #303C6C;
        width: 1000px;
        height: 800px;
    }

    .badge-success{
        background-color: darkgreen;
    }

    .badge-danger{
        background-color: darkred;
    }