    .nav-item {
        margin-right: 20px;
      }

      #user{
          margin-left: 20px;
          margin-right: 20px;
          color: #FBE8A6;
      }

      nav{
          background-color: #F4976C;
          width: auto;
      }

