    .shadow {
        background-color: #303C6C;
        text-align: center;
        padding: 15px;
        margin: auto;
        width: 50%;
        height: 400px;
    }

    .float-c {
        background-color: #F4976C;
        text-align: center;
        float: left;
        margin-left: 5%;
        margin-top: 10px;
        padding: 10px;
        width: 40%;
        height: 65%;
    }

    .float-p {
        background-color: #FBE8A6;
        text-align: center;
        float: left;
        margin-left: 10%;
        margin-top: 10px;
        padding: 10px;
        width: 40%;
        height: 65%;
    }


    /* submit, signup buttons */
    .btn {
        background-color: #B4DFE5;
        color: black;
    }

    .btn:hover {
        background-color: #D2FDFF;
    }

    #btn-c {
       /* margin-top: 35px; */
        margin-top: 15%
    }

    #btn-p {
      /*  margin-top: 10px; */
        margin-top: 5%;
    }
    /* submit, signup buttons */


    h1 {
        color: white;
    }


    /* logo */
    .navbar-brand{
        padding: 10px;
        font-size: 30px;
        color: #F4976C;
    }

    .navbar-brand:hover {
        color: #303C6C;
    }
    /* logo */


    body {
        overflow: hidden;
        background-color: #D2FDFF ;
    }

    #pr_signup{
        width: 60%;
        height: 550px;
    }

    h2 {
        text-align: center;
        color: white;
    }


    /* client/proprietor signup pages */
    table{
        color: #F4976C;
        margin-top: 20px;
        border-spacing: 15px;
        border-color: #F4976C;
    }

    th, td {
        vertical-align: top;
        padding: 15px;
    }

    p{
        color: #F4976C;
        padding: 5px;
    }

    #form{
        margin-top: 10px;
        align-content: center;
    }
    /* client/proprietor signup pages */


    /* account description */
    #description{
        color: black;
    }


    /* login page */
    #pr_login{
        background-color: #303C6C;
        width: 500px;
        height: 500px;
        padding: 20px;
    }

     #pr_login_btn{
         background-color: #F4976C;
         color: white;
     }
    /* login page */


     /* logout page */
    #logout_container {
        background-color: #D2FDFF;
        margin-top: -100px;
        width: 100%;
        height: 100%;
    }

     #logout_box {
        font-size: large;
        background-color: #B4DFE5;
        width: 60%;
        height: 60%;
    }

    #login_btn {
        background-color: #F4976C;
        color: white;
    }

    #home_btn {
        background-color: #303C6C;
        color: white;
    }

    #logout_text {
        font-size: 30px;
    }

    ul {
        list-style-type: none;
    }
    /* logout page */
