::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#counterDebug{
    text-align: center;
}

#map {
    border: solid black 1px;
    height: 90vh;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10px;
    padding: 2px;
    width: 90vw;
}

.search_bar {
    margin: auto;
    width: 40%;
    padding: 1%
}

 @media only screen and (max-width: 768px){
     #map{
         width: 98vw;
         margin-right: 1vw;
         margin-left: 1vw;
     }

     .search_bar{
         width: 80%;
     }
 }
