body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    border: solid black 1px;
    height: 500px;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 2px;
    width: 800px;
}

.search_bar {
    margin: auto;
    width: 40%;
    padding: 1%
}

 @media only screen and (max-width: 768px){
     #map{
        width: 95vw;
        height: 80vh;
     }

     .search_bar{
        width: 80%;
     }
 }
