  body {
      text-align: center;
      height: auto;
      overflow: scroll;
      background-color: #D2FDFF;
  }

  .create_space_form, .update_space_form, .space_date_time_form{
      display: inline-block;
      width: 800px;
      background-color: #303C6C;
      text-align: center;
      margin: auto;
      height: auto;

  }

  .create_space_table, .update_space_table, .space_date_time_table{
      width: 800px;
  }

  .space_submit_button{
      margin-top: 10px;
      width: 400px;
      background-color: #B4DFE5;
      color: black;
  }

  .space_submit_button:hover {
      background-color: #D2FDFF;
  }

  table{
      color: #F4976C;
      margin: auto;
      border-spacing: 5px;
      border-color: #F4976C;

  }

  th, td {
      vertical-align: top;
      padding: 5px;
  }

  p{
      color: #F4976C;
      padding: 5px;
  }

  h3, h5{
      text-align: center;
      color: white;
  }

