  body {
      text-align: center;
      overflow: hidden;
      background-color: #D2FDFF ;
  }

  .create_space_form{
      display: inline-block;
      width: 800px;
      background-color: #303C6C;
      text-align: center;
      margin: auto;
      height: 600px;

  }

  .create_space_table{
      width: 800px;
  }

  .space_submit_button{
      margin-top: 10px;
      width: 400px;
  }

  .update_space_form{
      display: inline-block;
      width: 800px;
      background-color: #303C6C;
      text-align: center;
      height: 800px;

  }

  .update_space_table{
      width: 800px;
  }

  .space_submit_button{
      margin-top: 10px;
      width: 400px;

      background-color: #B4DFE5;
      color: black;
  }

  .space_submit_button:hover {
      background-color: #D2FDFF;
  }

  table{
      color: #F4976C;
      margin-top: 20px;
      border-spacing: 5px;
      border-color: #F4976C;
  }

  th, td {
      vertical-align: top;
      padding: 5px;
  }

  p{
      color: #F4976C;
      padding: 5px;
  }

  h3{
      text-align: center;
      color: white;
  }
