{% extends 'sharedspaces/account_header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'account.css' %}">
{% endblock %}

{% block content %}

    <body>
      <div class="container-fluid">

        <!-- Layout may differ depending on user type  -->
        {% if user.is_client and user.is_authenticated %}
            <h1>Welcome, {{ user.get_username }}!</h1>
        {% endif %}

        {% if user.is_proprietor and user.is_authenticated %}
            <h1>Welcome, {{ user.get_username }}!</h1>
            <br>
            <h3>My Listings</h3>
            <div class="row">
                {% for spaces in space %}
                    <div class="col-sm-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ spaces.space_name }}</h5>
                                <p class="card-text">{{ spaces.space_description }}</p>
                                {% for tag in spaces.space_tags.all %}
                                    <button type="button" class="badge rounded-pill bg-success">{{ tag }}</button>
                                {% endfor %}
                                <br/><br/>
                                <a href="{% url 'update_space' spaces.id %}" class="btn btn-primary">Update Space</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
      </div>
    </body>
{% endblock %}

