{% extends 'sharedspaces/account_header.html' %}
{% load static %}

{% block content %}


<style>

    p, a, h1{
        margin-left: 20px;
        color: #B4DFE5;
    }

    body {
        background-color: #D2FDFF;
    }

    .container-fluid{
        background-color: #303C6C;
        width: 1000px;
        height: 800px;
    }

</style>

    <body>
      <div class="container-fluid">

        <!-- Layout may differ depending on user type  -->
        {% if user.is_client and user.is_authenticated %}
            <h1>Welcome, {{ user.get_username }}!</h1>
        {% endif %}

        {% if user.is_proprietor and user.is_authenticated %}
            <h1>Welcome, {{ user.get_username }}!</h1>
        {% endif %}

      </div>

    </body>
{% endblock %}
