<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
        <title>Client Sign Up</title>
    </head>

    <body>

    <h1> This is the client signup page</h1>
    <p>Here is where you can create an account to
        start finding your perfect new hangout spot!</p>
    <form action = "{%url 'client_sign_up' %}" method="post" >

        Enter your username! <br/>
        <input type="text" name = "username"><br/>
        Enter your password! <br/>
        <input type="text" name="password">
        <input type="submit">
    </form>
    </body>
</html>