{% extends 'sharedspaces/form_header.html' %}
{% load static %}

{% block title %}
<title>Date/Time Listing</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'spaces.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container-fluid">
            {% if user.is_proprietor and user.is_authenticated %}
            <h3 class="date-title"> Dates and Times for {{space.space_name}}</h3>
            <a href="{% url 'space_date_time' space.id %}"
                    class="btn btn-secondary btn-lg btn-block">Add a new Date and Time</a>
            <br>
            <br>
            <div class="row g-4">
                {% for date_time in date_times %}
                {% if date_time.space_dt_closed == False%}
                <div class="col-sm-4">
                    <div class="card border-info mb-3">
                        <div class="card-header bg-primary text-white">
                            <h5 class="card-title" style="color: white;">
                                Date: {{date_time.space_date}}
                                Time: {{date_time.space_start_time}}
                            </h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-text">
                                Start Time: {{date_time.space_start_time}}<br>
                                End Time: {{date_time.space_end_time}}<br>

                                {% if date_time.space_dt_reserved %}
                                This timeslot is reserved by {{date_time.space_dt_reserved_by}} <br>
                                {% else %}
                                This timeslot is not reserved by anyone. <br>
                                {% endif %}
                            </h6>
                            <a href="{% url 'update_date_time' date_time.id %}" class="btn btn-primary">Deactivate</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </body>
{% endblock %}

