{% extends 'sharedspaces/account_header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            {% block title %}
                <title>Shared Spaces</title>
            {% endblock %}
            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <!-- do this script thing to include the different file (like a library)
            too lazy to figure out how to properly do it nicely -->
            <script type = "text/javascript">
                // declare some global variables (gasp!)
                // javascript scope is beyond stupid, this is the way it's gotta be
                var map;
                var infoWindow1, infoWindow2; // these are useful in the seperate js file
                var data;
                var numObjs;
                data = [];
                numObjs = 0;

                function space_good(obj) {
                    return true;
                    if (typeof obj.spc_desc != 'string') {
                        return false;
                    }
                    if (typeof  obj.spc_name != 'string') {
                        return false;
                    }
                    // check validity of address when it gets here
                    return true;
                }

            </script>
            <script type = "text/javascript" src= "{% static 'javascript/mapsFunction.js' %}">
            </script>
            {% if val == 'space' %}
                {% for spaces in space %}
                <script>
                // Here, I want to add to the data list
                // pretty straight forward, we create a couple of strings out of
                // the information that we have
                // and we do |escapejs... to prevent some jackass from
                // running code on our site
                var myObj = {
                    "spc_desc":"{{spaces.space_description|escapejs|safe}}",
                    "spc_name": "{{spaces.space_name|escapejs|safe}}",
                    "spc_addr": "{{spaces.space_address1}}",
                    "spc_zip": "{{spaces.space_zip_code}}",
                    // later we will need to add address information, I won't bother rn
                    // after looking it up, we need to do quite a bit of work (potentially) on
                    // the address before we send it to google's geolocation
                };
                // check "goodness" of myObj
                if (space_good(myObj)) {
                    data.push(myObj);
                    numObjs = numObjs + 1;
                }
                </script>
            {% endfor %}
            {% endif %}


        </head>
        <body>
            <div class = "search_bar">
                <form  action="" method="post">
                    {% csrf_token %}
                    <input name="query" id= "query" type= text placeholder="Search Space Information Here..." size="35" align = "center" >
                    <select name="filters" id="filters">
                        <option value="all">All</option>
                        <option value="space">Space</option>
                        <option value="date">Date</option>
                    </select>
                    <!-- I want to hijack the same searchbar you wrote
                    because I need to do the same thing you did to get
                    a list of spaces
                    But I also want a way to let the user decide if
                    they want the spaces in great detail
                    or just the map -->
                    <select name="submit_style" id="submit_style">
                        <option value="newPage">Show Me Details</option>
                        <option value="markers">Show Me Markers</option>
                    </select>
                    <input class="space_submit_button" type="submit" value="Search">
                    <input class="space_submit_button" type="reset" value="Clear">
                </form>
            </div>
            <script >
                function setTxt () {
                    if (typeof numObjs != "number") {
                        document.getElementById("counterDebug").innerText += "Not a number!";
                    }
                    else if (numObjs != 0) {
                    document.getElementById("counterDebug").innerHTML = 'There were ' + numObjs + ' spaces found!';
                    } else {
                    document.getElementById("counterDebug").innerText = 'No objects found';
                    }
                }
            </script>

            <div id="counterDebug">
                {% if val == 'all' %}
                <script>
                    document.getElementById("counterDebug").innerHTML = "<h10> You attempted a search by all for markers! </h10>";
                </script>
                {% endif %}
                {% if val == 'date' %}
                <script>
                    document.getElementById("counterDebug").innerHTML = "<h10> You attempted a search by date for markers! </h10>";
                </script>
                {% endif %}
            </div>
            <script>
                setTxt();
            </script>

            <!-- Google Maps API makes a callback to initMap(). Moving JavaScript to an external file is ideal, but
                 there have been issues with Google Maps being unable to find the initMap() function outside of this
                 file due to weird JavaScript scope and closure fun. -->
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&callback=initMap&libraries=&v=weekly" 
                    async>
            </script>
        </body>
    </html>
{% endblock %}
