{% extends 'sharedspaces/account_header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            {% block title %}
                <title>Shared Spaces</title>
            {% endblock %}
            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <script type = "text/javascript" src= "{% static 'javascript/mapsFunction.js' %}">
                // remember when jimmy had some nice code here to use the map?
                // moved it to a file called "mapsFunction.js"
                // over in the static/javascript folder
            </script>
        </head>
        <body>
            <div class = "search_bar">
                <form  action="" method="post">
                    {% csrf_token %}
                    <input name="query" id= "query" type= text placeholder="Search Space Information Here..." size="35" align = "center" >
                    <select name="filters" id="filters">
                        <option value="all">All</option>
                        <option value="space">Space</option>
                        <option value="date">Date</option>
                    </select>
                    <!-- I want to hijack the same searchbar you wrote
                    because I need to do the same thing you did to get
                    a list of spaces
                    But I also want a way to let the user decide if
                    they want the spaces in great detail
                    or just the map -->
                    <select name="submit_style" id="submit_style">
                        <option value="newPage">Show Me Details</option>
                        <option value="markers">Show Me Markers</option>
                    </select>
                    <input class="space_submit_button" type="submit" value="Search">
                    <input class="space_submit_button" type="reset" value="Clear">
                </form>
            </div>
            <!-- Google Maps API makes a callback to initMap(). Moving JavaScript to an external file is ideal, but
                 there have been issues with Google Maps being unable to find the initMap() function outside of this
                 file due to weird JavaScript scope and closure fun. -->
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&callback=initMap&libraries=&v=weekly" 
                    async>
            </script>
        </body>
    </html>
{% endblock %}
