{% extends 'sharedspaces/account_header.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Shared Spaces</title>
            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
            <script>
            
                let map;
                const umbcLatLng = {lat: 39.254, lng: -76.711};
                const mapOptions = {
                    center: umbcLatLng,
                    mapTypeId: 'roadmap',
                    zoom: 15,
                };

                function initMap() {
                    map = new google.maps.Map(document.getElementById("map"), mapOptions);
                    map.addListener('click', (event) => {
                        createMarker(event.latLng.lat(), event.latLng.lng());
                    });
                }

                function createMarker(latitude, longitude) {
                    const marker = new google.maps.Marker({position: {lat: latitude, lng: longitude}, map: map});
                }

            </script>
        </head>
        <body>
            <div id="map"></div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key={{maps_api_key}}&callback=initMap&libraries=&v=weekly"
                async
            ></script>
        </body>
    </html>
{% endblock %}
