{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="container">
        <h1> Login </h1>
        <div class="float-c">
            <h3>Client Login</h3>

            <a href="#">
            <button class="btn success">Login as a client </button>
            </a>
        </div>

        <div class="float-p">
            <h3>Proprietor Login</h3>

            <a href="{% url 'proprietor_login' %}">
            <button class="btn success">Login as a proprietor</button>
            </a>
        </div>
    </div>


</body>
</html>
