{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proprietor Sign Up</title>
</head>

<body>

    <div class="container">
        <h2 style="text-align: center">Proprietor Sign Up</h2>
        <form method = "post">
            {% csrf_token %}

            <table>
                {{ form }}
            </table>

        <input style="margin-left: 50px;"  type="submit" value="Submit">
        </form>
    </div>

</body>
</html>