<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create availabilities for your Shared Space!</title>
</head>
<body>
        <div class = "space_date_time_form">
            <h3>Enter the Date and Time for your Shared Space!</h3>

            Please enter the date in mm/dd/yyyy format and times in hh:mm format.

            <form  action="/space_times/" method="post">
                {% csrf_token %}
                <table class="space_date_time_table" border="1">
                    {{ form }}
                </table>
                <input  type="submit" value="Submit">
                <input  type="reset" value="Clear">
            </form>
        </div>
</body>
</html>
