{% extends 'sharedspaces/form_header.html' %}
{% load static %}

{% block title %}
    <title>Add Date/Time</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'spaces.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container-fluid">
            <div class = "space_date_time_form">
                <h3>Enter the Date and Time for your Shared Space!</h3>
                <h5>Please enter the date in mm/dd/yyyy format and times in hh:mm format.</h5>
                <form  action="/space_times/{{space_id}}" method="post">
                    {% csrf_token %}
                    <table class="space_date_time_table" border="1">
                        {{ form }}
                    </table>
                    <input class="btn btn-primary space_submit_button" type="submit" value="Submit">
                    <input class="btn btn-primary space_submit_button" type="reset" value="Clear">
                </form>
            </div>
        </div>
    </body>
{% endblock %}
