{% extends 'sharedspaces/account_header.html' %}
{% load static %}

{% block title %}
<title>Spaces tagged with '{{ slug }}'</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'account.css' %}">
{% endblock %}

{% block content %}
    <body>

       <h2>
           Tag: {{ slug}}
           {% if space_list.count > 1 %}
                <span>{{ space_list.count }} listings found</span>
           {% else %}
                <span>{{ space_list.count }} listing found</span>
           {% endif %}
       </h2>

         <div class="row">
             {% for space in space_list %}
                 <div class="col-sm-4">
                     <div class="card border-info mb-3">
                         <div class="card-header bg-primary text-white">
                                <h5 class="card-title">{{ space.space_name }}
                                    {% if space.space_open %}
                                        <span class="badge badge-success">Open</span>
                                    {% else %}
                                        <span class="badge badge-danger">Closed</span>
                                    {% endif %}
                                </h5>
                            </div>
                            <p class="card-text">{{ space.space_description }}</p>
                            <ul class="list-group list-group-horizontal list-group-flush">
                                <li class="list-group-item list-group-item-info">
                                    Max Capacity
                                    <p class="card-text">{{ space.space_max_capacity }}</p>
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Wifi Offered?
                                    {% if spaces.space_wifi %}
                                        <p class="card-text">Yes</p>
                                    {% else %}
                                        <p class="card-text">No</p>
                                    {% endif %}
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Restrooms Offered?
                                    {% if space.space_restrooms %}
                                        <p class="card-text">Yes</p>
                                    {% else %}
                                        <p class="card-text">No</p>
                                    {% endif %}
                                </li>
                                <li class="list-group-item list-group-item-info">
                                    Food/Drink Offered?
                                    {% if space.space_food_drink %}
                                        <p class="card-text">Yes</p>
                                    {% else %}
                                        <p class="card-text">No</p>
                                    {% endif %}
                                </li>
                            </ul>
                            <div class="card-body">
                                {% for tag in space.space_tags.all %}
                                    <button type="button" class="badge rounded-pill"
                                            onclick="window.location.href='{% url 'tagged_spaces' tag %}'">{{ tag }}
                                    </button>
                                {% endfor %}
                                <br/><br/>
                                <a href="{% url 'reserve_space' space.pk %}" class="btn btn-primary">Reserve Space</a>
                            </div>
                        </div>
                    </div>
             {% endfor %}
         </div>
    </body>

{% endblock %}

