{% extends 'sharedspaces/form_header.html' %}
{% load static %}

{% block title %}
    <title>Update Space</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'spaces.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container-fluid">
            <div class = "update_space_form">
                <h3>Update the Information for {{name}}</h3>
                <form  action="/update_space/{{space_id}}" method="post">
                    {% csrf_token %}
                    <table class="update_space_table" border="1">
                        {{ form }}
                    </table>
                    <input class="btn btn-primary space_submit_button" type="submit" value="Update">
                    <input class="btn btn-primary space_submit_button" type="reset" value="Back to Previous Values">
                </form>
            </div>
        </div>
    </body>
{% endblock %}

