{% extends 'sharedspaces/form_header.html' %}
{% load static %}

{% block title %}
    <title>Update Date/Time</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'spaces.css' %}">
{% endblock %}

{% block content %}
    <body>
        <div class="container-fluid">
            <div class = "space_date_time_form">
                <h3>Update the availability status for {{old_date_time.space_id.space_name}}</h3>
                <form  action="/space_update_times/{{id}}" method="post">
                    {% csrf_token %}
                    <table class="space_date_time_table" border="1">
                        <h5>Date: {{old_date_time.space_date}}<br>
                        Start Time: {{old_date_time.space_start_time}}<br>
                        End Time: {{old_date_time.space_end_time}}<br>

                        {% if old_date_time.space_dt_reserved %}
                            This timeslot is reserved by {{old_date_time.space_dt_reserved_by}} <br>
                        {% else %}
                            This timeslot is not reserved by anyone. <br>
                        {% endif %}

                        Do you want to deactivate this time? <br>
                            (check the box for yes): {{ form.closed }}</h5>>
                    </table>
                    <input class="btn btn-primary space_submit_button" type="submit" value="Update">
                    <input class="btn btn-primary space_submit_button" type="reset" value="Reset">
                </form>
            </div>
        </div>
    </body>
{% endblock %}
